<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-item">
      <a class="post-link" href="{{ post.url | relative_url }}">
        <div class="post-item" style="background-image: url('{{  post.image }}')">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h2>{{ post.title | escape }}</h2>
        </div>
      </a>
      {% assign categories = post.categories %}
      {% include categories.html %}
    </li>
    {% endfor %}
</ul>
