---
layout: default
---

<div class="layout-home">
  <div class="hero">
    <div class="wrapper">
      <div class="hero-greeting">
        <h1>{{ page.greeting }}</h1>
      </div>
      <div class="hero-text">
        <h2>{{ page.subtitle }}</h2>
        <h3>{{ page.description }}</h3>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="main-content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="container">
      {% include post_list.html %}
    </div>
  </div>
</div>
